.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    max-width : 90%;
    margin: 0 auto; /* 가운데 정렬 */
}

.paymentSteps {
    margin-bottom: 20px;
}

.paymentSummary {
    margin-bottom: 20px;
}

.paymentFooter {
    margin-top: auto;
}
