@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-header {
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-header-top {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-top-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /*이미지크기에 맞게 크기 조정*/
    height: 60px;
    margin-right: 10px;
}

.header-top-title {
    font-size: 12px;
}



/****************top-right div****************/
.header-top-right {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-user {
    font-size: 12px;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-user-img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************/



/****************header-category div****************/
.wrapper-header-category {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 2px solid red;
}

.category-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-category-btn {
    width: 20%;
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-right {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBox {
    width: 100%;
    height: 30px;
}

#searchBtn {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
/********************************************/


/****************body div****************/
.wrapper-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-video {
    width: 100%;
    height: 300px; /* 임시로 높이 조정했음, 비디오 들어가면 알아서 조정될 것 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}

.body-chart {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid gray;
}

.chart-header {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chart-title {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-subtitle1 {
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gray;
}

.chart-subtitle2 {
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-store {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid gray;
}

.store-header {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.store-title {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-subtitle1 {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gray;
}

.store-subtitle2 {
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-temporary {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temporary-header {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.temporary-title {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temporary-subtitle1 {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid gray;
}

.temporary-subtitle2 {
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-footer {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}