/* SeatSelection.module.css */

.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* 베이지 색 배경 */
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    width: 90%; /* 크기 90% */
    margin: 0 auto; /* 가운데 정렬 */
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieInfo {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.seatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto; /* 수평 스크롤바 추가 */
    padding-left: 100px;
}

.screen {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.seatRow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.seat:hover {
    background-color: #e0e0e0;
}

.selectedSeat {
    background-color: #d9534f;
    color: white;
}

.disabledSeat {
    background-color: #ccc;
    cursor: not-allowed;
}

.aisle {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: transparent;
}

.specialSeat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: transparent;
}

.peopleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
}

.peopleRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.peopleLabel {
    width: 100px;
    font-weight: bold;
}

.peopleCount {
    display: flex;
    align-items: center;
}

.peopleCount > button {
    width: 30px;
    height: 30px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.peopleCount > button:hover {
    background-color: #c9302c;
}

.peopleCount > span {
    margin: 0 10px;
    font-size: 18px;
}

.movieDetails {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #c9302c;
}
