.movieIndex {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.chart-body {
    width: 170.4px;
    height: 290px;
}

.chart-movie {
    width: 170px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
}

.chart-movie-button {
    width: 170px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.1;
    border-radius: 15px;
}

.chart-movie-button2 {
    width: 170px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.2 );
    border-radius: 15px;
}

.chart-button1 {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    opacity: 1;
}

.chart-button2 {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    opacity: 1;
}

.textContainer {
    height: 30px;
    margin-top: 10px;
    width: 213px;
}

.ratingImge {
    object-fit: cover;
    width: 20px;
    height: 20px;
}

.title {
    display: inline;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.poster {
    width: 170px;
    height: 234px;
    object-fit: cover; /* 이미지를 잘라서 크기에 맞추기 */
    position: relative;
}