.whole-map{
    width: 60%;
    height: 20%;
}
.map-input{
    display: flex;
    width: 100%;
}
.my-input-group{
    display: flex;
    width: 100%;
}
.my-input{
    border: 2px solid #5696e9; /* 테두리 색상 */
    border-radius: 10px;       /* 테두리 둥글기 */
    padding: 10px;            /* 내부 여백 */
    outline: none;            /* 클릭 시 기본 아웃라인 제거 */
    width: 31%;
}