.section {
    flex: 1;
    margin: 0 10px;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
}

.scrollable {
    max-height: 600px;
    overflow-y: auto;
}

.movieItem {
    cursor: pointer;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

}

.movieItem:hover {
    background-color: #e0e0e0;
}

.selectedMovie {
    background-color: #d3d3d3;
}

.title {
    padding: 40px;
    margin: auto;
}