.section {
    flex: 1;
    margin: 0 10px;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
}

.timeList {
    display: flex;
    flex-direction: column;
}

.scrollable {
    max-height: 600px;
    overflow-y: auto;
}

.timeHall {
    margin-bottom: 10px;
}

.timeHallHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.timeRow {
    display: flex;
    flex-wrap: wrap;
}

.timeItem {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    flex: 1 1 calc(20% - 4px);
    text-align: center;
}

.timeItem:hover {
    background-color: #e0e0e0;
}

.selectedTime {
    background-color: #d3d3d3;
}
