.section {
    flex: 1;
    margin: 0 10px;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 10px;
}

.timeList {
    display: flex;
    flex-direction: column;
}

.scrollable {
    max-height: 600px;
    overflow-y: auto;
}

.timeHall {
    margin-bottom: 10px;
}

.timeHallHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.hallLine {
    width: 100%;
}

.timeRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 그리드 설정 */
    gap: 10px; /* 그리드 항목 사이의 간격 설정 */
}

.timeItem {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.timeSection {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px #d3d3d3 solid;
    width: 100%;
}

.timeSection:hover {
    background-color: #e0e0e0;
}

.selectedTime {
    background-color: #d3d3d3;
}

.remainingSeats {
    font-size: 13px;
    color: green;
    text-align: center;
    width: 100%;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: 1000;
    white-space: nowrap;
}
