.whole {
  width: 100%;
  height: auto;
}

.ad {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: flex-start;
}

.wrapperHeader {
  width: 100%;
  display: flex;
  flex-direction: column; /* 수정됨 */
  justify-content: flex-start;
}

.headerTop {
  display: flex;
  flex-direction: row; /* 가로 정렬 */
  justify-content: space-between;
  align-items: center;
}

.headerTopLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTopLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* 이미지 크기에 맞게 크기 조정 */
  height: 100px;
  margin-right: 10px;
}

.headerTopTitle {
  font-size: 18px;
}

.headerTopRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topUser {
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topUserImg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperHeaderCategory {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 2px solid red;
}

.categoryLeft {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerCategoryBtn {
  width: 20%;
  padding: 0 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.categoryRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBox {
  width: 200px;
  height: 30px;
}

#searchBtn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info {
  background-color: pink;
  width: 60%;
  height: 700px;
}

.content {
  background-color: wheat;
  width: 60%;
  height: 1000px;
  display: flex;
}

.containerleft {
  background-color: aqua;
  width: 20%;
  height: 1000px;
}

.containerinfo {
  width: 80%;
  height: 1000px;
}

.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.menu > li > a {
  background: blue;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.menu ul {
  background: #ddd;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top:
}
.menu li:hover ul {
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  color: #000;
  display: block;
  padding: 5px 20px;
}
