
  .wrapper {
    position: relative;
    height: 100%;
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}

input:focus {
  outline: none;
}


h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}


.box {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  background: #fff;
  font-size: 15px;
  border: solid 1px #dadada;
}

input {
  font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.boxIntId {
  padding-right: 110px;
}

.boxIntPass {
  padding-right: 40px;
}

.boxIntPassCheck {
  padding-right: 40px;
}

.stepUrl {
  /*@naver.com*/
  position: absolute;
  top: 16px;
  right: 13px;
  font-size: 15px;
  color: #8e8e8e;
}

.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

.birWrap {
  display: table;
  width: 100%;
}

.birYy {
  display: table-cell;
  width: 147px;
  
}

.birMm {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
}

.birDd {
  display: table-cell;
  width: 147px;
}

.birMm, .birDd {
  padding-left: 10px;
}

select {
  width: 100%;
  height: 29px;
  font-size: 15px;
  background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
  background-size: 20px 8px;
  display: inline-block;
  text-align: start;
  border: none;
  cursor: default;
  font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */

.error {
  border: 1px solid red;
  background-color: #ffeeee;
}

.errorNextBox {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.errorNextBox:empty {
  display: none;
}

/* 버튼 */

.btnArea {
  margin: 30px 0 91px;
}

#btnJoin {
  padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#btnJoin:hover {
  background-color: #0056b3;
}