.goodsBasketLine{
    width: 1292px;
    height: 1000px;
}

.goodsBasketStepLine{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1292px;
    height: 133px;
}

.shopBasketHrOne{
    margin-top: 15px;
    margin-bottom: 0px;
    width: 1287px;
    color: black;
    opacity: 1;
}

.basketStepInfo,
.basketStepOrder,
.basketStepComple{
    padding-left: 40px;
    display: flex;
    text-align: center;
}

.basketStepRightIcon{
    content: '';
    margin-top: 56px;
    margin-bottom: auto;
    margin-left: 35px;
    width: 18px;
    height: 30px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_step_arrow.png);
}

.basketStepInfoIcon,
.basketStepOrderIcon,
.basketStepCompleIcon{
    margin-left: 3px;
    content: '';
    display: inline-block;
    margin-top: 54px;
    margin-bottom: auto;
    width: 38px;
    height: 33px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_stepIcon.png);
}

.basketStepOrderIcon{
    background-position: top right 113px;
}

.basketStepCompleIcon{
    background-position: top right 150px;
}

.basketStepInfoIconR,
.basketStepOrderIconR,
.basketStepCompleIconR{
    margin-left: 3px;
    content: '';
    display: inline-block;
    margin-top: 54px;
    margin-bottom: auto;
    width: 38px;
    height: 33px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_stepIcon.png);
    background-position: bottom right 40px;
}

.basketStepOrderIconR{
    background-position: bottom right 113px;
}

.basketStepCompleIconR{
    background-position: bottom right 150px;
}


.basketStepComple{
    padding-right: 40px;
}

.basketStepText{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 14px;
    text-align: center;
}

.basketStepInfoSmall,
.basketStepOrderSmall,
.basketStepCompleSmall{
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #8d8d8d;
    line-height: 22px;
}

.basketStepInfoLarge,
.basketStepOrderLarge,
.basketStepCompleLarge{
    padding-top: 5px;
    display: block;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 27px;
    color: #8d8d8d;
    line-height: 22px;
}

.basketStepInfoSmallR,
.basketStepOrderSmallR,
.basketStepCompleSmallR{
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #f00;
    line-height: 22px;
}

.basketStepInfoLargeR,
.basketStepOrderLargeR,
.basketStepCompleLargeR{
    padding-top: 5px;
    display: block;
    font-family: 'CJONLYONENEW';
    font-weight: 500;
    font-size: 27px;
    color: #f00;
    line-height: 22px;
}


.goodsBasketList{
    width: 1287px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.basketListCheckBoxLine{
    display: flex;
    margin-right: 11%;
}

.basketListCheckLine{
    background-color: #fafafa;
    width: 1287px;
    text-align: center;
    justify-content: center;
    height: 61px;
    border-bottom: 1px solid black;
    display: flex;
    margin-bottom: auto;
}

.basketListCheckLineName,
.basketListCheckLineSellPrice,
.basketListCheckLineAmount,
.basketListCheckLineBuyPrice,
.basketListCheckLineBuySelect{
    margin-top: auto;
    margin-bottom: auto;
}

.basketListCheckLineName{
    margin-right: 37%;
}

.basketListCheckLineSellPrice,
.basketListCheckLineAmount,
.basketListCheckLineBuyPrice,
.basketListCheckLineBuySelect{
    margin-right: 7%;
}
.basketListCheckLineBuyPrice{
}
.basketListAllCheckBox,
.basketListAllCheckBoxAfter{
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_checkbox_radio.png);
    margin: 0px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    background-position: bottom 25px left 104px;
}

.basketListAllCheckBoxAfter{
    background-position: bottom 25px left 79px;
}

.basketListItemCheckBoxLine{
    display: flex;
    margin-left: 29px;
}

.basketListCheckBox,
.basketListCheckBoxAfter{
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 24px;
    font-size: 0;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_checkbox_radio.png);
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background-position: bottom 25px left 104px;
}

.basketListCheckBoxAfter{
    background-position: bottom 25px left 79px;
}

.basketListItemLine{
    display: flex;
    width: 1287px;
    height: 150px;
    border-bottom: 1px solid #bdc1c8;
}

.basketListItemContentLine{
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.basketListItemContentLineAct{
    width: 100%;
    display: flex;
    margin-left: 140px;
    margin-top: auto;
    margin-bottom: auto;
}

.basketListItemImg{
    margin-left: 10px;
    margin-right: 10px;
    width: 9%;
    height: 100px;
}

.basketListItemContent{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    width: 40%;
}

.basketListItemContentName{
    width: 100%;
    font-size: 21px;
}

.basketListItemContentNotice{
    font-size: 15px;
}
.basketListItemPriceLine{
    margin-left: 4px;
    width: 10%;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.basketListItemPrice{
    font-size: 18px;
}
.basketListItemSalePrice{
    font-size: 17px;
    text-decoration:line-through;
}

.basketListItemAmountLine{
    width: 13%;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.basketListItemAmountLineAct{
    width: 13%;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:13px;
    margin-right:5px;
}

.basketListItemAmountChangeLine{
    display: flex;
    justify-content: space-between;
}
.basketListItemAmountTextAct{
    padding-right: 7px;
    font-size: 17px;
}

.basketListItemAmountChangeText{
    user-select:none;
    width: 40px;
    font-size: 20px;
    margin: auto;
    border: 1px solid #bdc1c8;
}

.basketListItemAmountChangeButton{
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid #bdc1c8;
}

.basketListItemAmountChangePlus:active{
    background-color: orange;
}
.basketListItemAmountChangeMinus:active{
    background-color: orange;
}
.basketListItemAmountChangePlus,
.basketListItemAmountChangeMinus{
    width: 16px;
    height: 50%;
    background-size: 70px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_plus_minus_arrow.png);
    background-position: center right 17px;
}

.basketListItemAmountChangeMinus{
    border-top: 1px solid #bdc1c8;
    background-position: center right 34px;
}

.basketListItemAmountButton:active{
    background-color: orange;
}

.basketListItemAmountButton{
    user-select:none;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    font-size: 16px;
    border: 1px solid #bdc1c8;
}

.basketListItemBuyPrice{
    margin-left: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
}

.basketListButtonLine{
    display: flex;
    margin-left:auto;
}

.basketListItemSelectButton{
    user-select:none;
    cursor: pointer;
    text-align: center;
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #4b4f56;
    padding: 3px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

.basketListItmeDel{
    cursor: pointer;
    border: 1px solid #bdc1c8;
    margin-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
    width: 18px;
    height: 18px;
    background-size: 17px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_closedBtn.png);
}

.basketListItmeDel:active{
    background-color: orange;
}

.basketNoticeLine{
    display: flex;
    margin-top: 15px;
}

.basketListDel{
    user-select:none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    width: 140px;
    border: 1px solid #8d8d8d;
}

.basketListDel:active{
    background-color: orange;
}

.basketListNotice{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3px;
    font-size: 15px;
}

.basketTotalLine{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
    height: 200px;
    margin-top: 70px;
    font-size: 17px;
}

.basketTotalHeadLine{
    display: flex;
    text-align: center;
    background-color: #f3f3f3;
    width: 100%;
    height: 30%;
}

.basketTotalHead,
.basketTotalHeadSale,
.basketTotalHeadResult{
    margin-top: auto;
    margin-bottom: auto;
    width: 33.33%;
}

.basketTotalResultLine{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 32px;
}

.basketTotalResult,
.basketTotalResultSale,
.basketTotalResultTotal{
    text-align: center;
    height: 100%;
    width: 29%;
}

.basketTotalResultMinus,
.basketTotalResultPlus{
    height: 50px;
    width: 4%;
}

.basketTotalResultMinus{
    background-position: center left 0px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_calculator_marker.png);
}
.basketTotalResultPlus{
    background-position: center left 52px;
    background-image: url(https://img.cgv.co.kr/R2014/images/giftstore/common/bg_calculator_marker.png);
}

.basketTotalResult{
    margin-left: 30px;
}
.basketTotalResultSale{
    margin-left: 8px;
    text-decoration:line-through;
}
