hr{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid black;
    opacity: 0.8;
}

.hrTwo{
    width: 98%;
    border: 1px solid black;
    opacity: 0.3;
}

.detailName{
    font-size: 30px;
}

.detailLine{
    display: flex;
    background-color: red;
    height: 500px;
}

.detailImgLine{
    background-color: blue;
    text-align: center;
    justify-content: center;
    height: 500px;
    width: 583px;
}

.detailImg{
    width: 583px;
    height: 500px;
    background-color: red;
}

.detailTextLine{
    background-color: aqua;
    height: 500px;
    width: 713px;
}


