hr{
    width: 60%;
    margin: 5px;
    border: 2px solid;
    color: gray;
}
.hrCenter{
    width: 90%;
}
.storeHead{
    margin-top: 40px;
    margin-bottom: 50px;
}
.storeName{
    margin-left: 15px;
}
.plusButton{
    margin-left: 58%;
}
.plusButtonF{
    margin-left: 76%;
}
.navBar{
    width: 91%;
}
.goodsMain{
    text-align: justify;
}
.cardBody{
    display: flex;
    width: 100%;
}
.cardBody:hover{
    cursor: pointer;
}
.cardBody:hover .cardContent{
    background-color: black;
    color: white;
    opacity: 0.2;
}
.cardImg{
    width: 35%;
    margin-right: 15px;
}
.card-title{
    display: flex;
}
.goodsLine{
    display: flex;
    margin-top: 100px;
    height: 546px;
}
.goodsBoxLeft,
.goodsBoxRight{
    width: 35%;
}
.goodsBoxLeft{
    margin-right: 280px;
}
.goodsName{
    display: flex;
    min-width: 453px;
    font-size: 30px;
    text-align: left;
}
.packageBox{
    cursor: pointer;
}
.packageBox:hover .packageImg{
    filter: brightness(0.5) opacity(50%);
}