.seat {
    width: 40px; /* 고정된 너비 */
    height: 40px; /* 고정된 높이 */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* 박스 모델 설정 */
}

.seat:hover {
    background-color: #e0e0e0;
}

.selectedSeat {
    background-color: #d9534f;
    color: white;
}

.disabledSeat {
    background-color: #ccc;
    cursor: not-allowed;
}

.midpointSeat {
    margin-right: 20px; /* 가운데에 20px 마진 추가 */
}
