.seatMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
    
}

.rowWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
