.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    height: 170px;
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.movieInfoContainer {
    display: flex;
    align-items: center;
    width: 30%;
}

.selectedMoviePoster {
    height: 150px;
    text-align: center;
}

.selectedMovieSet {
    display: flex;
    align-items: center;
}

.selectedMovieTitle {
    text-align: left;
    margin: auto;
    padding: 30px;
    font-size: large;
    font-weight: bolder;
}

.infoContainer, .seatInfo, .priceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    font-size: 16px;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.infoTitle {
    margin-right: 10px;
    font-weight: bold;
}

.infoValue {
    flex: 1;
    text-align: left;
}

.totalPrice {
    color: red;
    font-size: 22px;
}

.buttonContainer {
    display: flex;
    width: 20%;
    justify-content: end;
}

.button {
    background-color: #d9534f;
    color: #fff;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button.enabled {
    background-color: #d9534f;
    cursor: pointer;
}

.button:hover:enabled {
    background-color: #c9302c;
}

.button:hover {
    background-color: #c9302c;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    .movieInfoContainer, .infoContainer, .seatInfo, .priceInfo {
        width: 100%;
        margin-bottom: 10px;
    }

    .infoSection {
        flex-direction: column;
        align-items: flex-start;
    }
}
